div.container{
    width: 100%; 
    height: 100%; 
}

p.name{
    width: 1066px;
    margin: auto;
}

div#gallary{
    width: 1066px;
    height: 638px;
    margin: auto;
    /*background-color: red;*/
}

div#gallary_select{
    width: 1066px;
    height: 35px;
    margin: auto;
    background-color: pink;
}

div#gallary_effect{
    width: 1066px;
    height: 603px;
    margin: auto;
    /*background-color: brown;*/
}

div#blog{
    width: 1066px;
    height: 225px;
    margin: auto;
    background-color: green;
}

div#projects{
    width: 1066px;
    height: 225px;
    margin: auto;
    background-color: blue;
}

div#introduce{
    width: 1066px;
    height: 100px;
    margin: auto;
    background-color: orange;
}